

@font-face {
  font-family: Myanmar;
  src: url('/fonts/Myanmar.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Familiar';
  src: url('/fonts/familiar_webfont.eot');
  src: local('Familiar Pro-Bold'), url('/fonts/Familiar Pro-Bold.otf') format('opentype');
}

html {
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

a {
  color: #08c;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 500;
  padding: 0.2rem 1rem;
}

#header.sticky {
  background: white;
  box-shadow: 2px 2px 2px #777;
  border-bottom: 1px solid #222;
  padding: 0.5rem 1rem;
}

#mini-logo {
  margin-left: 5px;
  background-image: url('/images/mini-logo.png');
  background-size: cover;
  width: 35px;
  height: 36px;
  z-index: 1000;
  transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  cursor: pointer;
  opacity: 0;
}

#header.sticky #mini-logo {
  opacity: 1;
}

.transition {
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.navbar-toggler {
  border: none;
  color: white;
}

#header.sticky .navbar-toggler {
  color: black;
}

#links {
  margin-right: 10px;
  z-index: 1000;
  color: white;
}

#header.sticky #links {
  color: black;
}

#links a {
  color: inherit;
  font-family: 'Myanmar';
  font-weight: 200;
  margin: 0 0 0 20px;
  font-size: 16px;
}

#banner {
  position: absolute;
  left: 0;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  color: white;
  background: url('/images/banner.jpg');
  background-position: center;
  background-size: cover;
  transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -moz-transition: background .3s linear;
}

#banner-contents {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  z-index: 100;
  font-family: 'Myanmar', Verdana;
}

#st {
  display: inline-block;
  margin-left: 12%;
  margin-bottom: 20px;
  font-size: 4.4em;
  background-color: rgba(0,0,0,0.8);
  padding: 10px 15px 0 15px;
  line-height: 0.95;
}

.clear-inline {
  display: block;
}

#desc {
  display: inline-block;
  margin-left: 22%;
  font-size: 1.2em;
  background-color: rgba(0,0,0,0.8);
  padding: 4px 8px 0;
  white-space: nowrap;
}

#desc .decor {
  color: #f788a0;
  padding-bottom: 0;
  border-bottom: 1px solid #f788a0;
}

#content {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  background-color: rgb(249, 249, 249);
}

#star-img {
  width: 440px;
  margin-bottom: 50px;
}

.info {
  position: relative;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 200px;
  width: 100%;
}

.info h1 {
  margin: 60px auto 50px auto;
  font-family: 'Myanmar';
  font-weight: normal;
}

.info h3 {
  font-weight: normal;
  font-family: 'Myanmar';
  text-align: left;
  margin: 0 20px 15px 20px;
  color: #5b0505;
}

.info h4 {
  color: #5b0505;
}

.info p {
  font-size: 16px;
  line-height: 30px;
  margin: 0px 20px 0 30px;
  text-align: left;
}

.info img {
  /* Used box-shadow instead of border here due to Safari rendering bug (rendering square border inside circle). */
  box-shadow: 0 0 0 8px #ddd;
  border-radius: 8px;
}

.line {
  display: inline-block;
  width: 80px;
  height: 0px;
  border: 2px solid #222;
  border-radius: 3px;
  margin: 0 12px 10px 12px;
}

#content .row {
  margin: 50px 0;
}

#members-list .member {
  width: 180px;
  margin: 20px;
}

#members-list .member img {
  border-radius: 50%;
  width: 100%;
  height: auto;
  -webkit-background-clip: padding-box;
}

.info h5 {
  font-family: 'Myanmar';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: normal;
}

.info h6 {
  color: #5b0505;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0;
}

#links a.selected {
  color: #5b0505;
  text-decoration: underline;
}

h5.testimonial {
  margin: 50px auto 0;
  max-width: 900px;
  font-family: 'Myanmar';
  line-height: 1.5;
  color: #5b0505;
  text-align: left;
}

h6.testimonial-name {
  max-width: 900px;
  margin: 10px auto 60px;
  padding-right: 80px;
  font-family: 'Myanmar';
  color: black;
  text-align: right;
  font-size: 18px;
}

#years.row {
  margin-top: 0;
}

h5.year {
  display: inline-block;
  margin: 0 10px;
  font-family: 18px;
  cursor: pointer;
}

h5.year.selected {
  color: #5b0505;
  text-decoration: underline;  
}

h5.year:hover {
  text-decoration: underline;  
}

#event-dates {
  text-align: right;
  list-style-type: none;
  padding: 0 20px 0 0;
  border-right: 1px solid #222;
  color: #5b0505;
  width: 90px;
}

#event-dates li {
  line-height: 30px;
  font-weight: bold;
}

#event-names {
  text-align: left;
  list-style-type: none;
  padding: 0px;
  margin-left: 0;
}

#event-names li {
  line-height: 30px;
}

#past-gigs.row {
  margin-bottom: 0;
}

#events.row {
  margin-top: 25px;
/*  border-top: 1px solid #777;
  border-bottom: 1px solid #777;*/
}

#events-container {
  border-radius: 15px;
  width: 570px;
  margin: 0 0 0 230px;
  text-align: left;
  overflow-y: scroll;
  height: 270px;
}

.inline {
  display: inline-block;
  padding: 5px 10px;
}

#photo-carousel {
  width: 100%;
  height: 450px;
  border-radius: 8px;
  border: 8px solid #ddd;
  overflow: hidden;
}

#photo-carousel .carousel-item {
  width: 100%;
  height: 100%;
  background-color: black;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#photo-carousel .carousel-inner {
  height: 100%;
}
.slide0 {
  background-image: url('../images/slideshow/2019 Fall Ball (2).jpg');
}
.slide1 {
  background-image: url('../images/slideshow/old_images/slide1.jpg');
}
.slide2 {
  background-image: url('../images/slideshow/2020 Vball (4).jpg');
}
.slide3 {
  background-image: url('../images/slideshow/2019 Fall Ball.jpg');
}
.slide4 {
  background-image: url('../images/slideshow/old_images/slide7.jpg');
}
.slide5 {
  background-image: url('../images/slideshow/2020 Vball (2).jpg');
}
.slide6 {
  background-image: url('../images/slideshow/2020 Vball (3).jpg');
}
.slide7 {
  background-image: url('../images/slideshow/2019 Fall Ball (3).jpg');
}
.slide8 {
  background-image: url('../images/slideshow/old_images/slide8.jpg');
}
.slide9 {
  background-image: url('../images/slideshow/old_images/slide13.jpg');
}
.slide10 {
  background-image: url('../images/slideshow/2020 Vball.jpg');
}
/* .slide11 {
  background-image: url('');
}
.slide12 {
  background-image: url('');
}
.slide13 {
  background-image: url('');
} */

/* Taken from https://www.ostraining.com/blog/coding/responsive-videos/ */

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  border: 8px solid #ddd;
  border-radius: 8px;
  margin-bottom: 50px;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

@media only screen and (max-width: 740px) {
  /* Reposition banner title and subtitle on small screens */
  #banner-contents {
    text-align: center;
    font-size: 0.85em;
  }

  #st, #desc {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 500px) {
  /* Hide lines to left/right of section headings on very small screens */
  .line {
    display: none;
  }

  /* Reposition banner title and subtitle */
  #banner-contents {
    bottom: 25px;
  }

  #st {
    font-size: 3em;
    padding-top: 5px;
  }

  #desc {
    white-space: normal;
    width: 230px;
  }
}
