

@font-face {
  font-family: Myanmar;
  src: url('/fonts/Myanmar.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Familiar';
  src: url('/fonts/familiar_webfont.eot');
  src: local('Familiar Pro-Bold'), url('/fonts/Familiar Pro-Bold.otf') format('opentype');
}

html {
  margin: 0;
}

body {
  margin: 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 40px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 500;
}

#header.sticky {
  height: 50px;
  background: white;
  box-shadow: 2px 2px 2px #777;
  border-bottom: 1px solid #222;
}

#mini-logo {
  position: fixed;
  left: 20px;
  top: 7px;
  background-image: url('/images/mini-logo.png');
  background-size: cover;
  width: 35px;
  height: 36px;
  z-index: 1000;
  transition: all .5s;
  -ms-transition: all .5s;
  -webkit-transition: all .5s;
  cursor: pointer;
  opacity: 0;
}

#header.sticky #mini-logo {
  opacity: 1;
}

.transition {
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

#links {
  position: fixed;
  right: 30px;
  z-index: 1000;
  margin-top: 10px;
  color: white;
}

#header.sticky #links {
  margin-top: 15px;
  color: black;
}

#links a {
  color: inherit;
  font-family: 'Myanmar';
  font-weight: 200;
  margin: 0 0 0 20px;
  font-size: 16px;
}

#banner-container {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #eee;
}

#banner {
  position: absolute;
  left: 0;
  z-index: 0;
  overflow: hidden;
  width: 100%;
  color: white;
  background: url('/images/banner4.jpg');
  background-position: center;
  background-size: cover;
  transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -moz-transition: background .3s linear;
}

#banner-img {
  overflow: hidden;
}

#st {
  display: block;
  position: absolute;
  z-index: 100;
  left: 100px;
  bottom: 90px;
  font-size: 70px;
  font-family: 'Myanmar', Verdana;
  background-color: rgba(0,0,0,0.8);
  padding: 30px 15px 20px 15px;
}

#desc {
  display: block;
  position: absolute;
  z-index: 100;
  left: 160px;
  bottom: 40px;
  font-size: 18px;
  font-family: 'Myanmar', Verdana;
  background-color: rgba(0,0,0,0.8);
  padding: 7px 11px 4px;
  white-space: nowrap;
}

#desc .decor {
  color: #f788a0;
  padding-bottom: 0;
  border-bottom: 1px solid #f788a0;
}

#content {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  background-color: rgb(249, 249, 249);
}

.info {
  position: relative;
  text-align: center;
  margin: 50px auto 200px auto;
  max-width: 1000px;
}

.info h1 {
  margin: 60px auto 50px auto;
  font-family: 'Myanmar';
  font-weight: normal;
}

.info h3 {
  font-weight: normal;
  font-family: 'Myanmar';
  text-align: left;
  margin: 0 auto 15px 25px;
  color: #5b0505;
}

.info h4 {
  color: #5b0505;
}

.info p {
  font-size: 16px;
  line-height: 30px;
  margin: 0px 20px 0 30px;
  text-align: left;
}

.span4 h3 {
  margin: 0 10px 5px 0;
}

.info h3.center {
  text-align: center;
}

p.center {
  text-align: center;
}

.span4 p {
  margin: 0 8px 0 12px;
}

.info img {
  /* Used box-shadow instead of border here due to Safari rendering bug (rendering square border inside circle). */
  box-shadow: 0 0 0 8px #ddd;
  border-radius: 8px;
}

.line {
  display: inline-block;
  width: 80px;
  height: 0px;
  border: 2px solid #222;
  border-radius: 3px;
  margin: 0 12px 10px 12px;
}

#content .row {
  margin: 50px 0;
}

iframe {
  border: 8px solid #ddd;
  border-radius: 8px;
}

.span3 .member {
  border-radius: 150px;
  width: 230px;
  height: auto;
  -webkit-background-clip: padding-box;
}

.span3 {
  margin-left: 30px !important;
}

.info h5 {
  font-family: 'Myanmar';
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 5px;
  font-weight: normal;
}

.info h6 {
  color: #5b0505;
  font-size: 14px;
  font-weight: bold;
  margin: 2px 0;
}

#links a.selected {
  color: #5b0505;
  text-decoration: underline;
}

h5.testimonial {
  margin: 50px auto 0;
  max-width: 900px;
  font-family: 'Myanmar';
  line-height: 1.5;
  color: #5b0505;
  text-align: left;
}

h6.testimonial-name {
  max-width: 900px;
  margin: 10px auto 60px;
  padding-right: 80px;
  font-family: 'Myanmar';
  color: black;
  text-align: right;
  font-size: 18px;
}

#years.row {
  margin-top: 0;
}

h5.year {
  display: inline-block;
  margin: 0 10px;
  font-family: 18px;
  cursor: pointer;
}

h5.year.selected {
  color: #5b0505;
  text-decoration: underline;  
}

h5.year:hover {
  text-decoration: underline;  
}

#event-dates {
  text-align: right;
  list-style-type: none;
  padding: 0 20px 0 0;
  border-right: 1px solid #222;
  color: #5b0505;
  width: 90px;
}

#event-dates li {
  line-height: 30px;
  font-weight: bold;
}

#event-names {
  text-align: left;
  list-style-type: none;
  padding: 0px;
  margin-left: 0;
}

#event-names li {
  line-height: 30px;
}

#past-gigs.row {
  margin-bottom: 0;
}

#events.row {
  margin-top: 25px;
/*  border-top: 1px solid #777;
  border-bottom: 1px solid #777;*/
}

#events-container {
  border-radius: 15px;
  width: 570px;
  margin: 0 0 0 230px;
  text-align: left;
  overflow-y: scroll;
  height: 270px;
}

.inline {
  display: inline-block;
  padding: 5px 10px;
}

.gallery-embed {
  width: 600px;
  height: 350px;
  border-radius: 8px;
  border: 8px solid #ddd;
  overflow: hidden;
  display: inline-block;
}

#star-img {
  margin-top: 25px;
}

/*#facebook {
    background-color:#6d84b4;
    border-radius: 5px;
    font-color: #ffffff;
} might try to finish this later. trying to make it look like a facebook button */
