BODY, TH, TD { 
	font-family: Verdana, Arial, Geneva, sans-serif;
	color: #FFFFFF;
	font-size: 12pt;
}
BODY {
        background-color: #000000;
}
DIV.menu {font-size: 8pt; font-weight: normal; line-height: 1.5}
DIV.box {font-size: 8pt; font-weight: bold; line-height: 1; color=#FFFFFF}
DIV.box_plain {font-size: 8pt; font-weight: normal; line-height: 1; color=#FFFFFF}
DIV.small {font-size: 8pt; font-weight: normal; color=#000000}
DIV.small_white {font-size: 8pt; font-weight: normal; color=#FFFFFF}
DIV.body {font-size: 9pt; font-family="Verdana"; font-weight: normal}
DIV.block {font-size: 8pt; color=#FFFFFF; line-height: 1}
DIV.block_caps {font-size: 8pt; color=#FFFFFF; font-variant: small-caps; line-height: 1.25}
DIV.hdr1 {font-size: 14pt; font-family="Arial"; font-weight: normal; line-height=1.25}
DIV.hdr2 {font-size: 12pt; font-family="Arial"; font-weight: bold; line-height=1.25}
DIV.hdr3 {font-size: 10pt; font-family="Arial"; font-variant: italics; line-height=1.25}
DIV.left_hdr {font-size: 10pt; font-variant: small-caps; line-height: 1.25}
DIV.mini {font-face="Arial, Helvetica, sans-serif" font-size: 6pt}
A {text-decoration: none;}
A:link    { color: #455bcb }
A:visited { color: #455bcb }
A:hover   { text-decoration: underline }
A:active  { color: #f8b238; text-decoration: underline }
A.block {text-decoration: underline;}
A.block:link    { color: #FFFFFF }
A.block:visited { color: #FFFFFF }
A.block:hover   { text-decoration: bold }
A.block:active  { color: #f8b238; text-decoration: bold }
.info {
   display: none;
   color: #FFFFFF;
}
-->
</style>
