<table border=0 cellpadding=0 cellspacing=5>
  <tr>
    <td><img src="images/flash_screenshot_200.jpg" border="0"></td>
    <td>Site design by <a href="http://www.cs.stanford.edu/~ach/"
    target="_blank">Andy Huang</a></td>
  </tr>
  <tr>
    <td><img src="images/logo_75.gif" width="75" border="0"></td>
    <td>Logo design by <a href="http://www.citylinedesign.com"
    target="_blank">Rich Shin</a>
  </tr>  
  [foreach]
  <tr>
    <td><img src="[item]" height="75" border="[imgborder]"></td>
    <td>
      <a href="[imglink]">[imgheading]</a> photo by
      <br>[imgcredit]
    </td>
  </tr>
  [endforeach]
</table>
